*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  display: flex;
  align-items: center;
  height: 100vh;
}
@font-face {
  font-family: 'Ai-font';
  src: url('../assets/fonts/Ai-font.ttf');
}
@font-face {
  font-family: 'Polya';
  src: url('../assets/fonts/POLYA.otf');
}
@keyframes textShadowAnimation {
  0% {
    text-shadow: 0 0 white;
  }
  100% {
    text-shadow: 0 0 #e53935;
  }
}
.content-container {
  width: max-content;
  margin-inline: auto;
}
h1 {
  color: white;
  font-size: 9rem;
  user-select: none;
  font-weight: normal;
  font-family: 'Polya';
  text-shadow: 0px 0px;
  line-height: 1;
}
/* span.letter-initial {
  font-size: 9rem;
} */
.intro {
  font-size: 2rem;
  user-select: none;
  text-align: center;
  letter-spacing: 4px;
  font-family: 'Oswald', sans-serif;
  margin-top: 1rem;
  font-weight: 600;
}
.explore-projects {
  margin-top: 100px;
}
.btn {
  display: flex;
  text-decoration: none;
  color: white;
  background-color: black;
  width: max-content;
  padding: 10px 20px;
  font-family: sans-serif;
  border-radius: 999px;
}
.btn-text {
  line-height: 1;
  margin-left: 10px;
}
