*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Ai-font';
  src: url('../assets/fonts/Ai-font.ttf');
}
@font-face {
  font-family: 'Polya';
  src: url('../assets/fonts/POLYA.otf');
}
@keyframes textShadowAnimation {
  0% {
    text-shadow: 0 0 30px white;
  }
  25% {
    text-shadow: 0 0 30px #e53935;
  }
  50% {
    text-shadow: 0 0 30px #311b92;
  }
  75% {
    text-shadow: 0 0 30px #1e88e5;
  }
  100% {
    text-shadow: 0 0 30px #fdd835;
  }
}
.content-container {
  width: max-content;
  margin-inline: auto;
  margin-top: 50px;
}
h1 {
  color: white;
  font-size: 7rem;
  user-select: none;
  font-weight: normal;
  font-family: 'Polya';
  animation-name: textShadowAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
span.letter-initial {
  font-size: 9rem;
}
